@page
<textarea id="InputMessage" ></textarea>
<input type="button"  id="SendMessage"/>

<div id="RecievedMessages"></div>

<script src="~/lib/signalr.js"></script>
<script src="~/js/message.js"></script>